<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Analytics</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h1>Overall Event Analytics</h1>

    <canvas id="barChart" width="10" height="10"></canvas>
    <canvas id="pieChart" width="10" height="10"></canvas>

    <script>
        try {
            // Set server data into a JavaScript variable
            let eventNamer = "<%= eventNames %>";
            var eventNames = eventNamer.split(',');
            console.log(eventNames)
            let registrationCounts = "<%= registrationCounts %>";
            registrationCounts = registrationCounts.split(',').map(Number);
            // Prepare data for charts
            var barData = {
                labels: eventNames,
                datasets: [{
                    label: 'Number of Registrations',
                    data: registrationCounts,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            };

            // Create bar chart
            var barCtx = document.getElementById('barChart').getContext('2d');
            var barChart = new Chart(barCtx, {
                type: 'bar',
                data: barData,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            // Create pie chart
            var pieCtx = document.getElementById('pieChart').getContext('2d');
            var pieChart = new Chart(pieCtx, {
                type: 'pie',
                data: barData, // You can use the same data for both charts or modify as needed
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        } catch (error) {
            console.error("An error occurred:", error);
        }
    </script>
</body>

</html>
