<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <% if (user) { %>
        <p>Welcome, <%= user.username %>!</p>
        <button type="button" id="logout">Logout</button> | <button type="button" id="profile">Profile</button>
        <button type="button" id="events">Events</button>
    <% } else { %>
        <% if (message) { %>
            <p><%= message %></p>
        <% } %>
        <p>Welcome to the home page</p>
        <button type="button" id="signUp">Sign Up</button> | <button type="button" id="signIn">Login</button>
    <% } %>

    <script>
        //button click event for sign up and sign in
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const logoutButton = document.getElementById('logout');
    const profileButton = document.getElementById('profile');
    const events = document.getElementById('events');

    if (signUpButton) {
        signUpButton.addEventListener('click', () => {
            window.location.href = "/register";
        });
    }

    if (signInButton) {
        signInButton.addEventListener('click', () => {
            window.location.href = "/login";
        });
    }

    if (logoutButton) {
        logoutButton.addEventListener('click', () => {
            window.location.href = "/logout";
        });
    }

    if (profileButton) {
        profileButton.addEventListener('click', () => {
            window.location.href = "/profile";
        });}

        if(events){
            events.addEventListener('click',() =>{
                window.location.href="/events"
       
            });

     }
    

    </script>
</body>
</html>
